* { margin: 0; padding: 0; box-sizing: border-box; }

.container{
    display: flex;
    padding: 10px;
    animation: fadein 3s 1 alternate-reverse;
    margin-right: 10px;
    animation-iteration-count: infinite;
    
}
.container img{
    width: 120px;
    height: auto;
    margin-left: 30px;
    }
/*image resize for mobile*/
    @media (max-width:769px) {
        .container img{
            width: 120px;
        }           
    }
    
    
/*image animation*/
@keyframes fadein {
  from { transform: translateX(0);
}
  to { transform: translateX(5%); }
}

.flex{
    margin-top: 10px 200px 10px 10px;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 25px black;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
 }

 h1{
    font-family:cursive;
    text-align: center;
    animation: colorchange 5s infinite;
}

/*color change animation for h1*/
@keyframes colorchange {
    0%   {color: darkred;}
    25%  {color: darkblue;}
    50%  {color:darkgreen;}
    75%  {color: darkorange;}
    100% {color: darkred;}
}

.sec1{
    background-color: lightblue;
    padding: 25px;
    margin: 10px 100px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:2px 10px 8px steelblue;
    font-size: 18px;
}

.sec2{
    background-color: lightgreen;
    padding: 25px;
    margin: 10px 100px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 10px 8px forestgreen;
    font-size: 18px;
    }

.sec3{
    background-color: lightpink;
    padding: 25px;
    margin: 10px 100px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 10px 8px deeppink;
    font-size: 18px;
    }

.sec4{
    background-color: lightyellow;
    padding: 10px;
    margin: 10px 100px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 10px 8px darkorange;
    font-size: 18px;
}

/*hover effects*/
.sec4:hover{ 
    background-color:darkorange;
}
.sec1:hover{ 
    background-color:steelblue;
}
.sec2:hover{ 
    background-color:forestgreen;
}
.sec3:hover{ 
    background-color:deeppink;;
}

.title{
    text-align: center;
    font-weight: bold;
}
body{
    background-color: lightgoldenrodyellow;
}
.sub-head{
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace
}
.para{
    font-size: 22px;
    margin: 10px;
}